@require(posts, newer, older, msec)
<!doctype html>
<title>StinkyBoard!</title>


<h3>New Post</h3>

<form action=newpost method=post>
<table>
<th>Name:
<td><input name=name>

<tr>
<th>Text:
<td><input name=text>
</table>

<input type=submit>
</form>

<h3>Posts</h3>

@if posts:
    @for (id,), post in posts:
        <h5>Comment @str(id) from @post['name']</h5>
        <blockquote>@post['text']</blockquote>
@end
@else:
    <em>(no posts)</em>
@end

@if older:
    <a href="@older">Older</a>
@end

@if newer:
    <a href="@newer">Newer</a>
@end

<hr>

Served in @str(msec) ms from an 800mhz Raspberry Pi
