@extends("base.html")
@require(user, posts, newer, older, msec, reddits)

@def title():
    CheeseBoard! User @user['username']
@end

@def body():
    <div id=newpost>
    <h3>New Post</h3>

    <form action=newpost method=post>
    <table>
    <th>Name:
    <td><input name=name>

    <tr>
    <th>Text:
    <td><input name=text>
    </table>

    <input type=submit>
    </form>
    </div>


    <div id=posts>
    <div class="nav-float">
    @if older:
        <a href="@older">Older</a>
    @end

    @if newer:
        <a href="@newer">Newer</a>
    @end
    </div>

    <h3>Posts</h3>

    @if posts:
        @for (id,), post in posts:
            <h5><img src=/static/cheese2.png> Comment on @post['created']!time from 
            <a href="/users/@post['author']">@post['author']</a>
            on
            <a href="/group/@str(post['subreddit_id'])">@reddits[post['subreddit_id']]</a>
            </h5>
            <blockquote>@post['body']</blockquote>
    @end
    @else:
        <em>(no posts)</em>
    @end

    </div>

